header {
    background: white;
    diplay: flex;
    align-content: space-between;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    position: relative;
}
header .logo {
    background: url("../images/logo.png") no-repeat;
    left: 20px;
    height: 100%;
}
#api_status {
    background: #cccccc;
    border-radius: 50%;
    height: 40px;
    position: absolute;
    right: 20px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 40px;
}
#api_status.available {
    background-color: #ff545f;
}
